/* ------ Ternary ------ */
.ternary-circle{
  stroke:#c00;
  fill:#fff;
}

.ternary-line{
  fill: rgba(255,255,255,0.0);
  stroke-width: 4px;
  border-style: dotted;
}

.ternary-line:hover {
  opacity: 0.6
}

.ternary-tick{
  fill:none;
  stroke:#aaa;
}

.minor{
  stroke:#fefefe;	
}

text {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 210;
}

.tick text {
  font-size: 0.8em;
}

path.domain {
  display: none;
}

.graticule path {
  stroke: #f8f8f8;
}

.graticule path.major ,.tick line {
  stroke: #eee;
  stroke-width: 2px;
}

.neatline {
  stroke: black;
  stroke-width: 2px;
  fill: none;
}

.point {
  z-index: 50;
}

.point:hover {
  opacity: 0.6;
}