/* ------ Page ------ */
body {
  font-family: sans-serif;
  margin: 0px 40px;  
}

nav {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: [col] 70vw [col] 10vw [col] 10vw;
  grid-template-rows: [row] 10vh;
  background-color: #fff;
  color: #444;
}

nav > a {
  background-color: #444;  
  color: #fff;
  border-radius: 5px;
  padding: 20px;
  text-decoration: none;
}

textarea {
  border:1px solid rgba(0,0,0,0.3);
  border-radius: 5px;
  margin: 5px;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
}

.enter {
  max-width: 20rem;
  padding-left: 1rem;
}

.add-items {
  margin-top: 20px;
}

.add-items input {
  padding:10px;
  outline:0;
  border:1px solid rgba(0,0,0,0.1);
}

input:hover {
  background-color: #dcedff;
  border: border:1px solid rgba(0,0,0,0.9);
}

input:active {
  border:2px solid rgba(0,0,4,0.1);
}

svg {
  margin: 0 auto;
}

.bookmarklet {
    padding: 3px 8px;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 1em;
    background: #666;
    color: white;
    background: #3FAA90;
}
/* ------ Ternary ------ */
.ternary-circle{
  stroke:#c00;
  fill:#fff;
}

.ternary-line{
  fill: rgba(255,255,255,0.0);
  stroke-width: 4px;
  border-style: dotted;
}

.ternary-tick{
  fill:none;
  stroke:#aaa;
}

.minor{
  stroke:#fefefe;	
}

text {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 210;
}

.tick text {
  font-size: 0.8em;
}

path.domain {
  display: none;
}

.graticule path {
  stroke: #f8f8f8;
}

.graticule path.major ,.tick line {
  stroke: #eee;
  stroke-width: 2px;
}

.neatline {
  stroke: black;
  stroke-width: 2px;
  fill: none;
}

.point {
  z-index: 50;
}
