/* ------ Ternary ------ */

.ternary-line{
  fill: rgba(255,255,255,0.0);
  border-style: dotted;
}

.ternary-line:hover {
  opacity: 0.6
}

.mouseover-line {
  fill: rgba(255,255,255,0.0);
  border-style: dotted;
}

.point {
  z-index: 50;
}

.point:hover {
  opacity: 0.6;
}


/* ------END Ternary ------ */

::selection { 
  background-color: #efa2a2;
}

:root {
  --red: #e56565;
  --round: 1px;
  --border-style: 1px solid rgba(0,0,0,0.1);;
  --header-height: ;
  --footer-height: 3em;
}


html, body {
  height: 100%;
  margin: 0;
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-display: fallback;
  font-weight: 400;
  src: local('Raleway'), local('Raleway-Regular'), url(https://fonts.gstatic.com/s/raleway/v13/1Ptug8zYS_SKggPNyCMIT4ttDfCmxA.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-display: fallback;
  font-weight: 400;
  src: local('Raleway'), local('Raleway-Regular'), url(https://fonts.gstatic.com/s/raleway/v13/1Ptug8zYS_SKggPNyC0IT4ttDfA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@keyframes pulse {
  0% {
    font-size: 0.4em;
  }
  50% {
    font-size: 0.7em;
  }
  100% {
    font-size: 0.4em;
  }
}

code {
  padding: 2px 4px;
  font-size: 90%;
  background-color: #d9d9d9;
  border-radius: 3px;
}

.content {
  flex: 1 0 auto;
}

body {
  font-family: 'Raleway', sans-serif;
  -webkit-font-smoothing: antialiased;
  margin: 0;
}

header {
  background-color: var(--red);  
  height: var(--header-height);
  width: 100%;
  box-shadow: 0 1px 15px 0 rgba(192,72,25,0.32);
  top: 0;
}

footer {
  box-shadow: 1px 0 15px 0 rgba(192,72,25,0.25);  
  background-color: linen;
  height: var(--footer-height);
  padding: 2vh 10vw;
  bottom: 0 !important;
  margin-bottom: 0;
  flex-shrink: 0;
  display: flex;
  flex-wrap: wrap;
}

.footer-item { 
  margin-left: 1em;
}

h1 {
  text-align: left;
}

/* Sweet alert buttons */
.show-sample {
  background-color: salmon;
}

.show-empty {
  background-color: lightsalmon;
}

.load-old {
  background-color: #48BB78;
}

.underline {
  text-decoration: underline;
}

main > a {
  color: var(--red);
}

main a:hover, main a:active {
  color: seagreen;
}

#intro {
  background-color: #fffad3;
  border: 2px solid #e56565;
  transition: all 0.3s ease-out;
  z-index: 100;

  div {
    padding: 5px 10vw;
  }

  a { 
    color: var(--red);
  }
}

#closeIntro {
  position: sticky;
  float: right;
  z-index: 10;
  top: 0;
  right: 0;
  font-size: 1.5em;
  transition: all 0.1s ease;
  padding: 8px 14px;
  background: var(--red);
  border-radius: 0 0 10% 10%;
}

#closeIntro:hover {
  background: coral;
  color: #fff;
  opacity: 0.8;
}

nav {
  display: grid;
  grid-template-columns: [col] 66vw [col] 17vw [col] 17vw;
  grid-template-rows: [row] var(--header-height);
  align-items: center;
}

nav > a {
  color: #fff;
  text-align: center;
  transition: all .25s ease;
  padding: 20px;
  text-decoration: none;
  font-weight: 500;
}

nav > a:first-child {
  text-align: left;
  font-weight: bolder;
}

nav > a[href]:hover {
  transform: scale(1.1);
  text-decoration: underline;
  color: gold;
  font-weight: 800;
}

.flex-wrapper {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
}

.labels {
  display: grid;
  grid-template-rows: repeat(3, 42px)
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

select {
  width: 100px;
  float: right;
}

.flex-item {
  min-height: 500px;
  max-width: 500px;
  padding: 0 1rem;
  margin: auto;  
}

.flex-item:first-child {
  text-align: center; 
}

.add-items {
  margin-top: 10px;
}

.plot, .clear {
  float: right;
}

.clear-table {
  float: left;
  border-color: crimson !important;
}

#clearAllTables {
  border: 1px solid crimson !important;
  margin-right: 20px;
}

input[type="color"], input[type="range"] {
  float: right;
  padding: 3px;
}

button {
  padding:10px;
  outline:0;
  margin: 0px 0px 0 0px;
  border: var(--border-style);
  border-radius: var(--round);
  font-weight: bold;
  transition-duration: 0.1s;
}

button:hover, input:hover {
  background-color: #f9e0e0;
}

button:active, input:active {
  background-color: #c6d5e5;
}

hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.4);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.download {
    padding: 0.75em 0.50em;
    outline:0;
    border:1px solid rgba(0,0,0,0.1);
    border-radius: var(--round);   
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
    color: white;
    background: #3FAA90;
}

.download:hover {
  background: #ABCDEF; 
}

.download:active {
  background: #778fa7;
}

.margin-main {
  margin: 100px auto;
  min-height: calc(100vh - var(--footer-height) - var(--header-height) - 10vh);
  max-width: 1200px;
}

#intro p {
  max-width: 1200px;
}
/* -----HOTable----- */
.tg  {
  border-collapse:collapse;
  border-spacing:0;
}
.tg td{
  font-size:14px;
  padding:10px 5px;
  border-style:solid;
  border-width:1px;
  overflow:hidden;
  word-break:normal;
  border-color:black;
}
.tg th{
  font-size:17px;
  font-weight:bold;
  padding:10px 5px;
  border-style:solid;
  border-width:1px;
  overflow:hidden;
  word-break:normal;
  border-color:black;
}
.tg .tg-l711{
  border-color:inherit
}
.tg .tg-yw4l{
  vertical-align:top
}

.point-only {
  background-color: #dae6f0; 
}

.line-only {
  background-color: #fff3cc; 
}

tbody > tr:first-child > td {
  background-color: aliceblue !important;
}

.keep-blue {
  background-color: aliceblue;
}

/* Donate Buttons */
.donate-buttons {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.inline-donate {
  background: seagreen;
  border-radius: 28px;
  padding: 2px 5px !important;
  color: white !important;
}

.inline-donate:hover {
  background: gold;
  transform: scale(1.08);
  color: rgb(0, 0, 0) !important;;
}

.donate {
    background: seagreen;
    border: none;
    color: #fff !important;
    width: 166px !important;
    padding: 10px 18px !important;
    border-radius: 28px;
    margin: 0 20px !important;
    cursor: pointer;
    transition: .15s ease-out;
    text-align: center;
    display: inline-block;    
}

.donate:hover {
    background: gold;
    transform: scale(1.08);
    color: #000;
    text-decoration: underline;  
}


.bmc-button img {
  width: 27px !important;
  margin-bottom: 1px !important;
  box-shadow: none !important;
  border: none !important;
  vertical-align: middle !important;
}

.bmc-button{
  line-height: 36px !important;
  height:37px !important;
  text-decoration: none !important;
  display:inline-flex !important;
  color:#ffffff !important;
  background-color:#000000 !important;
  border-radius: 3px !important;
  border: 1px solid transparent !important;
  padding: 0px 9px !important;
  font-size: 17px !important;
  letter-spacing:-0.08px !important;
  box-shadow: 0px 1px 2px rgba(190, 190, 190, 0.5) !important;
  -webkit-box-shadow: 0px 1px 2px 2px rgba(190, 190, 190, 0.5) !important;
  margin: 0 auto !important;
  font-family:'Lato', sans-serif !important;
  -webkit-box-sizing: border-box !important;
  box-sizing: border-box !important;
  -o-transition: 0.3s all linear !important;
  -webkit-transition: 0.3s all linear !important;
  -moz-transition: 0.3s all linear !important;
  -ms-transition: 0.3s all linear !important;
  transition: 0.3s all linear !important;
}

.bmc-button:hover, .bmc-button:active, .bmc-button:focus {
  -webkit-box-shadow: 0px 1px 2px 2px rgba(190, 190, 190, 0.5) !important;
  text-decoration: none !important;
  box-shadow: 0px 1px 2px 2px rgba(190, 190, 190, 0.5) !important;
  opacity: 0.85 !important;
  color:#ffffff !important;
}

// Bit hacky
@media screen and (max-width: 1200px) {
  .margin-main {
    max-width: 85%;
  }
}

@media screen and (max-width: 700px) {
  .margin-main {
    padding: 1.5em;
  }

  .flex-item:first-child {
    min-width: 350px;
  }

  .donate {
    font-size: 90%;
    width: 80px;
    float: right;
  }

  header {
    width: 100%;
    flex-shrink: 0;
    height: 65px;
    font-size: 0.8rem;
  }

  nav {
    grid-template-columns: [col] 40vw [col] 35vw [col] 25vw;
    grid-template-rows: [row] 50px;
    align-items: center;
  }

  .buttons {
    input[type="button"], #download {
      padding:7px;
      font-weight: 500;
    }

  }
}

.no-underline {
  text-decoration: none;
}

.no-underline:focus path,
.no-underline:hover path {
  fill: coral;
}