::selection { background-color: #efa2a2; }

:root {
  --red: #e56565;
  --round: 1px;
  --border-style: 1px solid rgba(0,0,0,0.1);;
  --header-height: 75px;
  --footer-height: 5vh;
}


html, body {
  height: 100%;
  margin: 0;
}

#alpha {
  font-size: 0.5em;
  line-height: 0.5em;
  color: gold;
  animation: pulse 4s infinite;  
}

@keyframes pulse {
  0% {
    font-size: 0.4em;
  }
  50% {
    font-size: 0.7em;
  }
  100% {
    font-size: 0.4em;
  }
}

.content {
  flex: 1 0 auto;
}

body {
  font-family: 'Raleway', sans-serif;
  -webkit-font-smoothing: antialiased;
  margin: 0;
}

h1 {
  text-align: left;
}

.underline {
  text-decoration: underline;
}

header {
  background-color: var(--red);  
  height: var(--header-height);
  box-shadow: 0 1px 15px 0 rgba(192,72,25,0.32);
  top: 0;  
}

nav {
  display: grid;
  grid-template-columns: [col] 20vw [col] 45vw [col] 15vw [col] 15vw;
  grid-template-rows: [row] var(--header-height);
  align-items: center;
}

nav > a {
  color: #fff;
  text-align: center;
  transition: all .3s ease;
  padding: 20px;
  text-decoration: none;
}

nav > a:first-child {
  text-align: left;
  font-weight: bolder;
}

nav > a[href]:hover {
  transform: scale(1.15);
  text-decoration: underline;
  color: gold;
}

.flex-wrapper {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
}

.labels {
  display: grid;
  grid-template-rows: repeat(2, 22px)
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

select {
  width: 100px;
  float: right;
}

.flex-item {
  min-height: 500px;
  max-width: 500px;
  padding: 0 1rem;
  margin: auto;  
}

.flex-item:first-child {
  text-align: center; 
}

.add-items {
  margin-top: 10px;
}

input {
  padding:10px;
  outline:0;
  margin: 0px 0px 0 0px;
  border: var(--border-style);
  border-radius: var(--round);
  font-weight: bold;
  transition-duration: 0.1s;
}

input:hover {
  background-color: #f9e0e0;
}

input:active {
  background-color: #c6d5e5;
}

hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.4);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

#download {
    padding:10px;
    outline:0;
    border:1px solid rgba(0,0,0,0.1);
    border-radius: var(--round);   
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
    background: #666;
    color: white;
    background: #3FAA90;
}

#download:hover {
  background: #ABCDEF; 
}

#download:active {
  background: #778fa7;
}

.margin-main {
  margin: 5vh 10vw;
  min-height: calc(100vh - var(--footer-height) - var(--header-height) - 10vh);  
}

/*.handsOnTable {
  overflow: hidden;
}*/
/* -----HOTable----- */
.tg  {
  border-collapse:collapse;
  border-spacing:0;
}
.tg td{
  font-family:Arial, sans-serif;
  font-size:14px;
  padding:10px 5px;
  border-style:solid;
  border-width:1px;
  overflow:hidden;
  word-break:normal;
  border-color:black;
}
.tg th{
  font-size:17px;
  font-weight:bold;
  padding:10px 5px;
  border-style:solid;
  border-width:1px;
  overflow:hidden;
  word-break:normal;
  border-color:black;
}
.tg .tg-l711{
  border-color:inherit
}
.tg .tg-yw4l{
  vertical-align:top
}

.point-only {
  background-color: #dae6f0; 
}

.line-only {
  background-color: #fff3cc; 
}

tbody > tr:first-child > td {
  background-color: aliceblue !important;
}

code {
  padding: 2px 4px;
  font-size: 90%;
  background-color: #d9d9d9;
  border-radius: 3px;
}

footer {
  box-shadow: 1px 0 15px 0 rgba(192,72,25,0.25);  
  background-color: linen;
  height: 5vh;
  padding: 2vh 10vw;
  bottom: 0 !important;
  margin-bottom: 0;
  flex-shrink: 0;
}

@media screen and (max-width: 700px) {
  .flex-item:first-child {
    min-width: 350px;
  }

  header{
    height: 65px;
  }

  nav {
    grid-template-columns: [col] 30vw [col] 10vw [col] 30vw [col] 30vw;
    grid-template-rows: [row] 50px;
    align-items: center;
  }

}